.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}
.btn {
  display: block;
  margin: 50px auto;
  padding: 15px 30px;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  color: #393e46;
  background-color: #4ecca3;
  border: none;
  border-radius: 20px;
  width: auto;
  min-width: 150px;
  font-size: 2rem;
}

.pressed {
  background-color: gray;
  color: lightgray;
  transform: scale(0.95);
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2.5rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

.refresh {
  text-align: center;
}

footer {
  margin-top: 5%;
  font-size: 1.5rem;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
